.wrapper {
	display: flex;
	height: 100vh;
	flex-direction: column;
	
}

.container {
	width: 100%;
	max-width: 1280px;
	margin: 0 auto;
	padding: 0 40px;

	@media screen and (max-width: $breakpoint-desktop) and (min-width: $breakpoint-tablet) {
		padding: 0px 30px;
	}

	@media screen and (max-width: $breakpoint-tablet) {
		padding: 0px 10px;
	}


}

.img-container {
	width: 100%;
	& img {
		display: block;
		width: 100%;
		height: auto;
	}
}
