.footer {
    @include bg-image("../../assets/images/bg-footer.png");
    &__inner {
        // overflow: hidden;
        display: flex;
        justify-content: space-between;
        padding-top: 40px;
        .content {
            display: flex;
            flex-direction: row;
            .contacts {
                position: relative;
                flex-basis: 33%;
                padding-top: 16px;
                margin-right: 140px;
                display: flex;
                flex-direction: column;
            }
            .locations {
                position: relative;
                flex-basis: 35%;
                padding-top: 16px;
            }
            h3 {
                color: $color-light-xl;
                //  margin-bottom: 40px;
            }
            ul {
                margin: 0;
                padding: 0;
                position: relative;
                li {
                    list-style: none;
                    display: flex;
                    align-items: center;
                    margin-bottom: 40px;
                    padding-top: 35px;
                    transition: all 0.4s ease-in-out;
                    a {
                        display: flex;
                        text-decoration: none;
                        img {
                            margin-right: 20px;
                        }
                        h4 {
                            color: $color-primary;
                            transition: all 0.4s ease-in-out;
                            &:hover {
                                color: $color-light-s;
                            }
                        }
                    }
                    &:last-child {
                        margin-bottom: 0px;
                        padding-top: 0px;
                    }
                }
            }
        }
        .img-container {
            flex-basis: 34%;
        }
    }
}