.header {
    @include bg-image("../../assets/images/bg-gradient.png", $START_SCREEN_GRAD_BG);
    background-position: center 0;
    position: relative;
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 60px;
        padding-bottom: 60px;
    }
}

.logo {
    &__title {
        line-height: 90%;
    }
    &__subtitle {
        @include font("Arial", 13px, normal, $TEXT_COLOR);
        letter-spacing: 1.4px;
        padding-top: 15px;
    }
}