@import "./styles/layouts/collection";
@import "./styles/components/button";
@import "./styles/components/product";

body {
  
  font-size: 20px;
}

.select {
  font-size: 20px;
}


.filter-value {
  font-size: 24px;

}


label {
  font-size: 44px;

}