* {
	box-sizing: border-box;
}

body {
	height: 100vh;
	font-size: 15px;
}

h1 {
	@include font("Georgia", 32px, 400, $color-primary);
	letter-spacing: 0.06em;
}

h2 {
	@include font("Georgia", 44px, 400, $color-dark-l);
	line-height: 130%;
}

h3 {
	@include font("Georgia", 35px, 400, $color-dark-l);
	line-height: 130%;
	letter-spacing: 0.06em;
}

h4 {
	@include font("Georgia", 20px, 400, $color-dark-l);
	line-height: 115%;
	letter-spacing: 0.06em;
}

h5 {
	@include font("Georgia", 15px, 400, $color-dark-l);
	line-height: 110%;
	letter-spacing: 0.06em;
}

p {
	@include font("Arial", 12px, 400, $color-dark-l);
	line-height: 110%;
}

.paragraph-s {
	@include font("Arial", 12px, 400, $color-dark-m);
	line-height: 150%;
}

.paragraph-l {
	@include font("Arial", 15px, 400, $color-dark-xl);
	line-height: 160%;
}
