.btn {
  margin: 0 auto;
  padding: 0 40px;
  
  position: relative;
  height: 45px;
  
  background: #000;
  
  font-family: 'DMSans-Regular', sans-serif;
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 2px;
  
  text-transform: capitalize;
  
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  border: 0;
  
  cursor: pointer;
}

.btn-reset {
  margin-top: 40px;
}

.btn-reset-settings {
  height: 36px;
  
  margin: 0;
  margin-left: 10px;
  padding: 0 20px;
}

.btn-cart, .btn-wishlist {
  margin: 0;
  padding: 0;
  background: none;
  font-family: "fa-solid-900", sans-serif;
  color: #000000;
}

