.footer {
  background-color: #0E0E0E;
}

.footer__inner {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  align-items: center;
}

.footer-nav {
  display: flex;
  flex-direction: column;
  & .list__title {
    margin: 0;
    padding: 0;
    color: #ffffff;
    font-size: 1rem;
    text-transform: uppercase;
  }
  & .list__item {
    padding: 5px 0;
  }
  & .list__item a {
    color: #868686;

    &:hover {
      color: #00FFB0;
    }
  }
}

.footer .img-container {
  background-color: #ffffff;
  height: auto;
}

.link-rssschool {
  display: block;
  color: #868686;
  &:hover {
    color: #00FFB0;
    cursor: pointer;
  }
}
.fa-github {
  font-family: "fa-brands-400", sans-serif;
  color: #ffffff;
  font-size: 3rem;

  &:hover {
    color: #00FFB0;
    cursor: pointer;
  }
}

.img-container .rss-logo {
  width: auto;
  max-height: 100px;
}