.footer {
  background-color: $color-dark-m;
}

.footer__inner {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  align-items: center;
}

.footer-nav {
  display: flex;
  flex-direction: column;
  & .list__title {
    margin: 0;
    padding: 0;
    color: $color-light-xs;
    font-size: 1rem;
    text-transform: uppercase;
  }
  & .list__item {
    padding: 5px 0;
  }
  & .list__item a {
    color: $color-light-m;
    transition: all .2s ease-in-out;

    &:hover {
      color: $color-main-theme;
    }
  }
}

.footer .img-container {
  background-color: $color-light-xs;
  height: auto;
}

.link-rssschool {
  display: block;
  color: $color-light-m;
  transition: all .2s ease-in-out;
  &:hover {
    color: $color-main-theme;
    cursor: pointer;
  }
}
.fa-github {
  font-family: "fa-brands-400", sans-serif;
  color: $color-light-xs;
  font-size: 3rem;
  transition: all .2s ease-in-out;

  &:hover {
    color: $color-main-theme;
    cursor: pointer;
  }
}

.img-container .rss-logo {
  width: auto;
  max-height: 100px;
}