.item {
  margin-bottom: 25px;
  padding: 0 7.5px;
  flex: 0 0 30%;
  max-width: 30%;
  min-width: 300px;

  text-align: center;

  -webkit-box-shadow: 0px 0px 25px 8px rgba(235, 235, 235, 1);
  -moz-box-shadow: 0px 0px 25px 8px rgba(235, 235, 235, 1);
  box-shadow: 0px 0px 25px 8px rgba(235, 235, 235, 1);
}

.item:hover {
  cursor: pointer;
}

.item__inner {
  display: flex;
  flex-direction: column;

  padding: 20px 0;
}

.item__img {
  cursor: pointer;
}

.item__content {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 10px;

  font-family: "ArquitectaMedium", sans-serif;
}

.item__title {
  font-size: 1rem;
  margin: 0 0 7px;
  height: 50px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.item__price {
  font-size: 1.1rem;
  color: rgb(252, 112, 112);
  font-weight: 400;
}

.item__year {
  font-size: 0.8rem;
  color: #a0a0a0;
}
.item__thumb {
  position: relative;
  height: 300px;
    background: #ffffff;
    overflow: hidden;
    margin-bottom: 30px;
}

.item__buttons {
  position: absolute;
  top: 40%;
  right: 15px;
  left: auto;

  display: flex;
  flex-direction: column;

  z-index: 9;
}

.item__buttons .btn {
  margin: 5px 0;

  background: #00000069;
  width: 40px;
  height: 40px;
  color: #ffffff;

  font-size: 1.5rem;

  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  opacity: 0;

  &.btn-cart {
    transition-delay: 0.1s;
  }
  &.btn-wishlist {
    transition-delay: 0.2s;
  }
}

.item:hover {
  .item__buttons .btn {
    opacity: 1;
    //color: #00ffb0;
    &:hover {
      background: #00ffb0;
    }
  }
}

.item__buttons .btn.active {
  background: #00ffb0;
}

.item__variants {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 7px 0;
}

.fa-fire {
  font-family: "fa-solid-900", sans-serif;
  color: rgb(252, 112, 112);
  font-size: 1.5rem;
}

.bestseller-icon {
  position: absolute;
  right: 10%;
  top: 2%;
}
