.select {
  border: 1px solid #000;
    display: inline-block;
    height: 36px;   
    margin-left: 10px;
   
    padding: 0px 20px;

    font-family: 'DMSans-Regular', sans-serif;
    font-size: 1rem;   
    text-transform: capitalize;

    &:hover {
      cursor: pointer;
    }
}

.select-option {
  text-transform: capitalize;
  color: #868686;
}

