
html {
  font-size: 16px;
}

body {
  box-sizing: border-box;
  background-color: $color-light-xs;
  color: $color-dark-l;
  font-family: 'ArquitectaHeavy', sans-serif;
}

a {
  text-decoration: none;
  color: $color-dark-l;
  font-family: 'ArquitectaMedium', sans-serif;
}

h1 {
  margin: 0;
  padding: 0;
}

.fixed {
  height: 100%;
  overflow-y: hidden;
}

