@font-face {
  font-family: 'ArquitectaHeavy';
  src: url('./assets/fonts/ArquitectaHeavy.otf');
}

@font-face {
  font-family: 'ArquitectaMedium';
  src: url('./assets/fonts/ArquitectaMedium.otf');
}

@font-face {
  font-family: 'ArquitectaBold';
  src: url('./assets/fonts/ArquitectaBold.otf');
}


@font-face {
  font-family: 'fa-solid-900';
  src: url('./assets/fontawesome/webfonts/fa-solid-900.ttf');
}

@font-face {
  font-family: 'fa-regular-400';
  src: url('./assets/fontawesome/webfonts/fa-regular-400.woff2') format('woff2'),
  url('./assets/fontawesome/webfonts/fa-regular-400.ttf')  format('truetype');
}

@font-face {
  font-family: 'fa-brands-400';
  src: url('./assets/fontawesome/webfonts/fa-brands-400.ttf');
}

@font-face {
  font-family: 'DMSans-Regular';
  src: url('./assets/fonts/DMSans-Regular.ttf');
}
